{% extends "base.html" %}

{% block title %}Detail{% endblock title %}

{% block content %}

<div class="jumbotron m-3 rounded jumbotron-detail">


    <div class="card detail-card">
      <div class="card-body">
        <h5 class="card-title">{{destination.name}}</h5>
        <p class="card-text">{{destination.description}}</p>
        <p class="card-text"><small class="text-muted">Activities: {{destination.activities}}</small></p>
        <p class="card-text"><small class="text-muted">Optimal visiting season: {{destination.optimal_visiting_season}}</small></p>
      </div>
      <img src="{{destination.pretty_picture.url}}" class="card-img-bottom" alt="...">
    </div>


    <a href="{% url 'destination-update' destination.id %}">
        <button type="submit" name="button" class="btn btn-md update_btn m-3" data-toggle="tooltip" data-placement="bottom" title="Update">Update</button>
    </a>
    <a href="{% url 'destination-delete' destination.id %}">
        <button type="submit" name="button" class="btn btn-md update_btn mt3" data-toggle="tooltip" data-placement="bottom" title="Delete">Delete</button>
    </a>
</div>
{% endblock content %}
