{% extends "base.html" %}

{% block title %}Tourista{% endblock title %}

{% block content %}
<br>
<div class="row">


    {% for destination in destinations %}
    <div class="col-12 col-sm-6 col-md-4">
      <div class="card list-card">
        <img src="{{destination.pretty_picture.url}}" class="card-img-top " alt="...">
        <div class="card-body">
          <h5 class="card-title">{{destination.name}}</h5>
          <hr>
          <p class="activity-text">Activities:</p>
          <p class="card-text">{{destination.activities}}</p>
        </div>
        <div class="card-footer" >
          <a href="{% url 'destination-detail' destination.id %}" class="btn btn-sm">Read more</a>
        </div>
      </div>
    </div>
    {% endfor %}




</div>
{% endblock content %}
